@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Mercury的博客</h1>
    <p class="lead">啦啦啦</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>博客内容</h2>
        <p>
            ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
            enables a clean separation of concerns and gives you full control over markup
            for enjoyable, agile development.
        </p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>分类目录</h2>
        <ul>
            <li>part1</li>
            <li>part2</li>
            <li>part3</li>
        </ul>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">更多 &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>我的资料</h2>
        <p>啦啦啦啦啦啦啦</p>
        <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">更多 &raquo;</a></p>
    </div>
</div>