@using My_Blog.Areas.Admin.Models;
@model PostMaintainViewModel
@{
    ViewBag.Title = "更新文章";
}

<h2>更新文章</h2>
@using (Html.BeginForm(null, null, FormMethod.Post, new {id = "post-form"})) {
    <label>标题</label>
    <h2>@Html.TextBoxFor(viewModel => viewModel.Title)</h2>
    <label>内容</label>
    <h2>@Html.TextBoxFor(viewModel => viewModel.Content)</h2>
    <button type="submit">提交</button>
}
