<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <connectionStrings>
        <!--<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=&quot;|DataDirectory|\aspnet-My Blog-20200201021108.mdf&quot;;Initial Catalog=&quot;aspnet-My Blog-20200201021108&quot;;Integrated Security=True" providerName="System.Data.SqlClient" />-->
        <add name="BlogContext"
             connectionString="server=localhost;user=dbadmin;database=my_blog;port=3306;password=mercury;"
             providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>